// header.navbar{
// 	.navbar-inner{
// 		background-color: blue;	
// 	}
	
// }


.container{


	width: 90%;
	max-width: 720px;

}

.divider{
	border-top: 1px dashed silver;
}

.post{

	padding: 0 2.5em 0 2.5em;
	.post-footer{
		padding: 0.5em 0 0.3em 0;
		font-size: 0.9em;
		color: #9d9d9d;
		.post-actions{
			float: right;
			text-align: right;
			a {

				margin: 0 0.2em 0 0.2em;
				&:hover{
					text-decoration: none;
				}
			}

			a.disabled{
				cursor: default;
				color: #000000;


			}
		}
	}
	.post-content{

		font-size: 1.1em;
		margin: 1em 0 1em 0;
		.post-content-thumbnail{

			.post-content-picture-img{

				max-width: 200px;
				max-height: 200px;
			}
		}

		.post-content-picture{
			padding: 0 1em 1em 0;
			img{
				width: 100%;
				height: 100%;
			}
		}	
	}
	

}
