<template name="postSubmit">
	<form class="main">
		<div class="control-group">
			<label class="control-label" for="title">Title</label>
			<div class="controls">
				<input name="title" type="text" value="" placeholder="How will people know how awesome your post is? "/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="content">Content</label>
			<div class="controls">
				<textarea name="content" type="text" value="" placeholder="How are things today?"/>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" value="Submit" class="btn btn-primary"/>
			</div>
		</div>
	</form>
</template>