<template name="postEdit">
	{{#with post}}
	<form class="main form-horizontal">
		<div class="control-group">
			<label class="control-label" for="title">Title</label>
			<div class="controls">
				<input name="title" class="span8" type="text" value="{{title}}" placeholder="How will people know how awesome your post is? "/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="content">Content</label>
			<div class="controls">
				<textarea class="span8" rows="10" name="content" type="text" value="" placeholder="How are things today?">{{content}}
				</textarea>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" value="Submit" class="btn btn-primary subm
				it"/>
			</div>
		</div>
		<hr/>
		<div class="control-group">
			<div class="controls">
				<a class="btn btn-danger delete" href="#">Delete post</a>
			</div>
		</div>
	</form>
	{{/with}}
</template>